body {
    font-family: "Lato", sans-serif;
  }

  
  
  .sidebar {
    height: 100%;
    width: 89px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-image: linear-gradient(0deg, #e9351e, #52219c);
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 30px;
    white-space: nowrap;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 25px;
    transition: 0.2s;
    text-transform: uppercase;
    color: white;
    display: block;
  }

  .sidebar a #navbarlogo { 
    padding: 0px 0px 0px 10px;
    display: block;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
    font-size: 35px;
  }
  
  main .sidebar {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .navbar-icons,
  .icon-text {
    vertical-align: middle;
  }
  
  .navbar-icons {
    padding-bottom: 3px;
    margin-left: 5px;
    margin-right: 35px;
  }

  
  #main {
    /* padding: 16px;
    margin-left: 85px; */
    margin-left: 0px;
    background-color: black;
    color: cornsilk;
    transition: margin-left 0.5s;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {
      padding-top: 15px;
    }
    .sidebar a {
      font-size: 18px;
    }
  }


  .large-header {
    position: relative;
    width: 100%;
    background: #111;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 0;
 }
 
 .demo .large-header {
    /* background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/499416/demo-bg.jpg"); */
    /* background-image: url("../img/marsimage.jpg"); */
    background-color: black;
 }
 
 .main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: #F9F1E9;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
 }
 
 .demo .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
 }
 
 .main-title .thin {
    font-weight: 200;
 }
 
 @media only screen and (max-width: 768px) {
    .demo .main-title {
       font-size: 3em;
    }
 }
  